<!DOCTYPE html>
<html lang="en" ng-app="root">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular DrugWars</title>
    <meta name="description" content="Angular version of the classic Drug Wars game" />
    <meta name="keywords" content="module table, inspiration, ui, modern, responsive, flexbox, html, component" />
    <meta name="author" content="chuck mcquilkin" />
    <link href="https://fonts.googleapis.com/css?family=Allan:700|Permanent+Marker" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body ng-app>
    <div class="container" ng-controller="DrugWarsCtrl">
<!--         <header id="header">
          <h1>Drug Wars</h1>
        </header> -->
        <section class="topSection">
            <div class="left" ng-click="mapToggle()"><h3><span ng-show="mapOpen">Hide</span><span ng-show="!mapOpen">Show</span> Map</h3></div>
            <div class="right" ng-click="newGame()"><h3>New Game</h3></div>
        </section>
        <section class="module-section bg-9">
            <h2 class="module-section__title">Drug Wars</h2>

    <div class="module module--drugWars" ng-show="message">
      <div class="module__item market__item--featured">
        <p ng-show="option_name">You have chosen <b>{{option_name}}</b></p>
        <p>{{scenario.prompt}}<span class="blinking-cursor">|</span></p>
      <div ng-repeat="option in scenario.options"> 
          <button class="module__action" data-ng-attr-id="option.path" ng-click="display_scenario(option)">{{option.name}}</button>
      </div>
      </div>
    </div>

<div class="MapContainer animate-show" ng-show="mapOpen" class="ng-hide">
    <h2>Jet to:</h2>
      <div svg-map id="svg-map"></div>
</div> <!-- End Map Container -->

            <div class="module module--drugWars" ng-controller="BuyCtrl">
                <div class="module__item market__item--featured">
                    <h3 class="module__title">{{currentLocation}} Drug Market</h3>
                    <p class="module__sentence">Select a drug to buy</p>
                    <div class="module__price"><span class="module__currency">$</span><span ng-bind="drugToBuy.value">25</span><span class="module__period" ng-bind="drugToBuy.name">{{drugToBuy.name}}</span></div>
                <form name="buyForm" class="control-group">
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Bronx'">Shrooms {{Market.Shrooms.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Shrooms" ng-disabled="Market.Shrooms.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Bronx' && 'Brooklyn' && 'The City'">PCP {{Market.PCP.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.PCP" ng-disabled="Market.PCP.value > user.Stats.numCash">
										<div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Brooklyn'">Speed {{Market.Speed.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Speed" ng-disabled="Market.Speed.value > user.Stats.numCash">
										<div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Coney Is.'">Ludes {{Market.Ludes.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Ludes" ng-disabled="Market.Ludes.value > user.Stats.numCash"  ng-checked="drugToBuy.name == 'Ludes'">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Bronx'">Acid {{Market.Acid.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Acid" ng-disabled="Market.Acid.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Bronx'">Weed {{Market.Weed.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Weed" ng-disabled="Market.Weed.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Bronx' && 'Brooklyn' && 'The City'">Heroin {{Market.Heroin.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Heroin" ng-disabled="Market.Heroin.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Bronx' && 'Brooklyn'">Opium {{Market.Opium.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Opium" ng-disabled="Market.Opium.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Brooklyn'">MDA {{Market.MDA.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.MDA" ng-disabled="Market.MDA.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Brookyn' && currentLocation == 'The City'">Hashish {{Market.Hashish.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Hashish" ng-disabled="Market.Hashish.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Brookyn' && 'Coney Is.'">Peyote {{Market.Peyote.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Peyote" ng-disabled="Market.Peyote.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio buy_form" ng-hide="currentLocation == 'Bronx' && 'Brooklyn'">Cocaine {{Market.Cocaine.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Market.Cocaine" ng-disabled="Market.Cocaine.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label></br>
<!-- 			            <tt>object = {{drugToBuy | json}}</tt><br/> // diagnostic stuff
			            <tt>drug name = {{drugToBuy.name}}</tt><br/>
			            <tt>drug cost = {{drugToBuy.value}}</tt><br/> -->
			            <button id="buy-button" class="module__action"  ng-disabled="drugToBuy.value > user.Stats.numCash"
			                              ng-click="buy(drugToBuy.name)">Buy 1</button>
			           </form>
                </ul>
                </div>
                <div class="module__item module__item--featured" ng-controller="SellCtrl">
                    <h3 class="module__title">Your Inventory</h3>
                    <p class="module__sentence">Select a drug to sell</p>
                    <div class="module__price"><span class="module__currency">$</span><span ng-bind="drugToSell.value">25</span><span class="module__period" ng-bind="drugToSell.name">{{drugToSell.name}}</span></div>
		                <form class="sell_form">
					            <label class="control control--radio" ng-show="user.inventory.Shrooms.count && currentLocation != 'Bronx'">{{ user.inventory.Shrooms.count }} Shrooms Aquired for {{ user.inventory.Shrooms.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Shrooms">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.PCP.count && currentLocation !== 'Bronx' && currentLocation !== 'Brooklyn' && currentLocation != 'The City'">{{ user.inventory.PCP.count }} PCP(s) Aquired for {{ user.inventory.PCP.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.PCP">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Speed.count && currentLocation != 'Brooklyn'">{{ user.inventory.Speed.count }} Speed Aquired for {{ user.inventory.Speed.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Speed">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Ludes.count && currentLocation != 'Coney Is.'">{{ user.inventory.Ludes.count }} Ludes Aquired for {{ user.inventory.Ludes.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Ludes">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Acid.count && currentLocation != 'Bronx'">{{ user.inventory.Acid.count }} Acid Aquired for {{ user.inventory.Acid.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Acid">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Weed.count && currentLocation != 'Bronx'">{{ user.inventory.Weed.count }} Weed Aquired for {{ user.inventory.Weed.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Weed">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Heroin.count && currentLocation != 'Bronx' && currentLocation != 'Brooklyn' && currentLocation != 'The City'">{{ user.inventory.Heroin.count }} Heroin Aquired for {{ user.inventory.Heroin.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Heroin">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Opium.count && currentLocation != 'Bronx' && currentLocation != 'Brooklyn'">{{ user.inventory.Opium.count }} Opium Aquired for {{ user.inventory.Opium.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Opium">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.MDA.count && currentLocation != 'Brooklyn'">{{ user.inventory.MDA.count }} MDA Aquired for {{ user.inventory.MDA.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.MDA">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Hashish.count && currentLocation != 'Brooklyn' && currentLocation != 'The City'">{{ user.inventory.Hashish.count }} Hashish Aquired for {{ user.inventory.Hashish.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Hashish">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Peyote.count && currentLocation != 'Brooklyn' && currentLocation != 'Coney Is.'">{{ user.inventory.Peyote.count }} Peyote Aquired for {{ user.inventory.Peyote.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Peyote">
					              <div class="control__indicator"></div>
					            </label>
					            <label class="control control--radio" ng-show="user.inventory.Cocaine.count && currentLocation != 'Bronx' && currentLocation != 'Brooklyn'">{{ user.inventory.Cocaine.count }} Cocaine Aquired for {{ user.inventory.Cocaine.userCost | currency:"$":0}}
					              <input type="radio" ng-model="drugToSell" ng-value="Market.Cocaine">
					              <div class="control__indicator"></div>
					            </label>
<!-- 			            <tt>object = {{drugToSell | json}}</tt><br/> // diagnostic stuff
			            <tt>drug name = {{drugToSell.name}}</tt><br/>
			            <tt>drug cost = {{drugToSell.value}}</tt><br/> -->
			            <button id="sell-button" class="module__action"
			                              ng-click="sell(drugToSell.name, drugToSell.count, drugToSell.value)" ng-show="user.Stats.inventoryTotal"><span ng-show="drugToSell.name == 'Nothing'">Select a drug</span><span ng-hide="drugToSell.name == 'Nothing'">Sell 1 {{drugToSell.name}}</span></button>
			           </form>
                </div>
                <div class="module__item debt__item--featured">
                    <h3 class="module__title">Game Stats</h3>
                    <p class="module__sentence">Day {{user.Stats.day}}</p>
                    <div id="debt-count" class="module__price"><span class="module__currency">$</span>{{user.Stats.numDebt | currency:"":0}}<span class="module__period">Debt</span></div>

                    <ul class="module__feature-list">
                        <li id="cash-count" class="module__feature">Cash: {{user.Stats.numCash | currency:"$":0}}</li>
                        <li class="module__feature">Bank Balance: $0</li>
                        <li class="module__feature">Health: {{user.Stats.numHealth}}</li>
                        <li class="module__feature">Guns: {{user.Stats.numGuns}}</li>
                    </ul>
                    <button id="pay-debt" class="module__action" ng-click="payDebt()">Repay $1000 Debt</button>
                </div>
            </div>
            <p>My Angular version of the original: <strong><a href="https://en.wikipedia.org/wiki/Drugwars">Drug Wars</a></strong></p>
        </section>
    </div>
    <!-- /container -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js"></script> 
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.3.0/angular-animate.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-touch.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
      <script type="text/javascript" src="js/controllers/BuyCtrl.js"></script>
      <script type="text/javascript" src="js/controllers/SellCtrl.js"></script>
      <script type="text/javascript" src="js/services/gameData.js"></script>
      <script type="text/javascript" src="js/directives/Map.js"></script>
</body>

</html>