<!DOCTYPE html>
<html lang="en" ng-app="root">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular DrugWars</title>
    <meta name="description" content="Angular version of the classic Drug Wars game" />
    <meta name="keywords" content="module table, inspiration, ui, modern, responsive, flexbox, html, component" />
    <meta name="author" content="chuck mcquilkin" />
    <link href="https://fonts.googleapis.com/css?family=Allan:700|Permanent+Marker" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body ng-app >
    <div class="container" ng-controller="IncrementalCtrl">
<!--         <header id="header">
          <h1>Drug Wars</h1>
        </header> -->
        <section class="topSection">
            <div class="left" ng-click="toggle()"><h3><span ng-show="mapOpen">Hide</span><span ng-show="!mapOpen">Show</span> Map</h3></div>
            <div class="right" ng-click="newGame()"><h3>New Game</h3></div>
        </section>
        <section class="module-section bg-9">
            <h2 class="module-section__title">Drug Wars</h2>

<div class="console" ng-show="message" class="ng-hide">This is where game messages will appear<span class="blinking-cursor">|</span></div>

<div class="MapContainer animate-show" ng-show="mapOpen" class="ng-hide">
    <h2>Jet to:</h2>
      <div svg-map id="svg-map"></div>
</div> <!-- End Map Container -->

            <div class="module module--drugWars">
                <div class="module__item market__item--featured">
                    <h3 class="module__title">{{currentLocation}} Drug Market</h3>
                    <p class="module__sentence">Select a drug to buy</p>
                    <div class="module__price"><span class="module__currency">$</span><span ng-bind="drugToBuy.value">25</span><span class="module__period" ng-bind="drugToBuy.name">{{drugToBuy.name}}</span></div>
                <form name="buyForm" class="control-group">
			            <label class="control control--radio">Shrooms {{Shrooms.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Shrooms" ng-disabled="Shrooms.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">PCP {{PCP.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="PCP" ng-disabled="PCP.value > user.Stats.numCash">
										<div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Speed {{Speed.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Speed" ng-disabled="Speed.value > user.Stats.numCash">
										<div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Ludes {{Ludes.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Ludes" ng-disabled="Ludes.value > user.Stats.numCash"  ng-checked="drugToBuy.name == 'Ludes'">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Acid {{Acid.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Acid" ng-disabled="Acid.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Weed {{Weed.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Weed" ng-disabled="Weed.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Heroin {{Heroin.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Heroin" ng-disabled="Heroin.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Opium {{Opium.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Opium" ng-disabled="Opium.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">MDMA {{MDMA.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="MDMA" ng-disabled="MDMA.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Hashish {{Hashish.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Hashish" ng-disabled="Hashish.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Peyote {{Peyote.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Peyote" ng-disabled="Peyote.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label>
			            <label class="control control--radio">Cocaine {{Cocaine.value | currency:"$":0 }}
			              <input type="radio" ng-model="drugToBuy" ng-value="Cocaine" ng-disabled="Cocaine.value > user.Stats.numCash">
			              <div class="control__indicator"></div>
			            </label></br>
<!-- 			            <tt>object = {{drugToBuy | json}}</tt><br/> // diagnostic stuff
			            <tt>drug name = {{drugToBuy.name}}</tt><br/>
			            <tt>drug cost = {{drugToBuy.value}}</tt><br/> -->
			            <button id="buy-button" class="module__action"
			                              ng-click="buy(drugToBuy.name)">Buy 1</button>
			           </form>
                </ul>
                </div>
                <div class="module__item module__item--featured">
                    <h3 class="module__title">Your Inventory</h3>
                    <p class="module__sentence">Select a drug to sell</p>
                    <div class="module__price"><span class="module__currency">$</span>0<span class="module__period">Nothing</span></div>
                    <ul class="module__feature-list">
                        <li class="module__feature" ng-hide="!numShrooms">
                        	<span id="shroom-count">{{numShrooms}}Shrooms Bought for {{userShroomCost}} / EACH</span>
	                        <button id="sell-shrooms"  class="module__action"
	                                ng-click="sellShrooms(numShrooms, shroomCost)">Sell - {{userShroomCost | currency:"$":0}}
	                        </button>
                        </li>
                    </ul>
			            <button id="sell-button" class="module__action"
			                              ng-click="sell(drugToSell.name)">Sell 1</button>
			           </form>
                      <h2 ng-hide="!user.Shrooms.numShrooms">Shrooms: 
                        <span id="shroom-count">{{user.Shrooms.numShrooms}} Paid {{user.Shrooms.userShroomCost}}</span>
                        <button id="sell-shrooms"
                                ng-click="sellShrooms(user.Shrooms.numShrooms, shroomCost)">Sell - {{user.Shrooms.userShroomCost | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.PCP.numPCP">PCP: 
                        <span id="pcp-count">{{user.PCP.numPCP}} Paid {{user.PCP.userPCPCost | currency:"$":0}}</span>
                        <button id="sell-PCP"
                                ng-click="sellPCP(user.PCP.numPCP, PCP.value)">Sell PCP Paid {{user.PCP.userPCPCost | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.Speed.numSpeed">Speed: 
                        <span id="speed-count">{{user.Speed.numSpeed}} Paid {{user.Speed.userSpeedCost | currency:"$":0}}</span>
                        <button id="sell-Speed"
                                ng-click="sellSpeed(user.Speed.numSpeed, Speed.value)">Sell - {{user.Speed.userSpeedCost | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.Ludes.numLudes">Ludes: 
                        <span id="ludes-count">{{user.Ludes.numLudes}} Paid {{user.Ludes.userLudesCost | currency:"$":0}}</span>
                        <button id="sell-Ludes"
                                ng-click="sellLudes(user.Ludes.numLudes, Ludes.value)">Sell - {{user.Ludes.userLudesCost | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.Acid.numAcid">Acid: <span id="acid-count">{{user.Acid.numAcid}} Paid {{user.Acid.userAcidCost | currency:"$":0}}</span>
                        <button id="sell-Acid"
                                ng-click="sellAcid(user.Acid.numAcid, Acid.value)">Sell - {{Acid.value | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.numWeed">Weed: <span id="weed-count">{{user.numWeed}} Paid {{user.Weed.userWeedCost | currency:"$":0}}</span>
                        <button id="sell-Weed"
                                ng-click="sellWeed(user.numWeed, Weed.value)">Sell - {{Weed.value | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.Heroin.numHeroin">Heroin: <span id="heroin-count">{{user.Heroin.numHeroin}} Paid {{user.Heroin.userHeroinCost | currency:"$":0}}</span>
                        <button id="sell-Heroin"
                                ng-click="sellHeroin(user.Heroin.numHeroin, Heroin.value)">Sell - {{Heroin.value | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.Opium.numOpium">Opium: <span id="opium-count">{{user.Opium.numOpium}} Paid {{user.Opium.userOpiumCost | currency:"$":0}}</span>
                        <button id="sell-Opium"
                                ng-click="sellOpium(user.Opium.numOpium, Opium.value)">Sell - {{Opium.value | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.MDMA.numMDMA">MDMA: <span id="mda-count">{{user.MDMA.numMDMA}} Paid {{user.MDMA.userMDMACost | currency:"$":0}}</span>
                        <button id="sell-MDA"
                                ng-click="sellMDA(user.MDMA.numMDMA, MDMA.value)">Sell - {{MDMA.value | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.Hashish.numHashish">Hashish: <span id="hashish-count">{{user.Hashish.numHashish}} Paid {{user.Hashish.userHashishCost | currency:"$":0}}</span>
                        <button id="sell-Hashish"
                                ng-click="sellHashish(user.Hashish.numHashish, Hashish.value)">Sell - {{Hashish.value | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.numPeyote">Peyote: <span id="peyote-count">{{user.numPeyote}} Paid {{user.Peyote.userPeyoteCost | currency:"$":0}}</span>
                        <button id="sell-Peyote"
                                ng-click="sellPeyote(user.numPeyote, Peyote.value)">Sell - {{Peyote.value | currency:"$":0}}
                        </button>
                      </h2>
                      <h2 ng-hide="!user.Cocaine.numCocaine">Cocaine: <span id="cocaine-count">{{user.Cocaine.numCocaine}} Paid {{user.Cocaine.userCocaineCost | currency:"$":0}}</span>
                        <button id="sell-Cocaine"
                                ng-click="sellCocaine(user.numPeyote, Cocaine.value)">Sell - {{Cocaine.value | currency:"$":0}}
                        </button>
                      </h2>

<!--                     <ul class="module__feature-list">
                        <li class="module__feature">1 Acid Bought for $47 / each</li>
                        <li class="module__feature">4 Heroin Bought for $6723 / each</li>
                        <li class="module__feature">1 Weed Bought for $681 / each</li>
                    </ul> -->
<!--                     <button class="module__action">Sell Ludes Paid $10</button> -->
                </div>
                <div class="module__item debt__item--featured">
                    <h3 class="module__title">Game Stats</h3>
                    <p class="module__sentence">Day {{day}}</p>
                    <div id="debt-count" class="module__price"><span class="module__currency">$</span>{{user.Stats.numDebt}}<span class="module__period">Debt</span></div>

                    <ul class="module__feature-list">
                        <li id="cash-count" class="module__feature">Cash: {{user.Stats.numCash | currency:"$":0}}</li>
                        <li class="module__feature">Bank Balance: $0</li>
                        <li class="module__feature">Health: {{user.Stats.numHealth}}</li>
                        <li class="module__feature">Guns: {{user.Stats.numGuns}}</li>
                    </ul>
                    <button id="pay-debt" class="module__action" ng-click="payDebt()">Repay Debt</button>
                </div>
            </div>
            <p>Angular version of the original: <strong><a href="https://en.wikipedia.org/wiki/Drugwars">Drug Wars</a></strong></p>
        </section>
    </div>
    <!-- /container -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js"></script> 
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.3.0/angular-animate.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-touch.min.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
</body>

</html>
